<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="Logs/MqttServer/mqtt-${date:format=yyy-MM-dd}-system-log.txt" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Warn" writeTo="logfile" />
  </rules>
</nlog>
<!-- 
    Level     FirstCharacter    Ordinal
    Trace     T                 0
    Debug     D                 1
    Info      I                 2
    Warn      W                 3
    Error     E                 4
    Fatal     F                 5
    Off       O                 6
-->